@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
body {
    background: wheat;
    /* font-family: Assistant, sans-serif; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: 'BioRhyme', serif;

}

.button {
    background: none;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 0px 2px rgb(156, 224, 231);
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
}

.button:hover {
    background: gray;
    color: white;
    transition: 0.5s;
}

nav {
    /* display: flex;
    justify-content: space-around; */
    padding-top: 20px;
    padding-bottom: 30px;
}


header {
    color:  black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login {
    color: white;
    background: #a83333;
    margin: auto;
    box-shadow:
        0px 2px 10px rgba(0, 0, 0, 0.2),
        0px 10px 20px rgba(0, 0, 0, 0.3),
        0px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 150px;
    display: flex;
    flex-direction: column;

}

.title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}


.login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 2em;
    outline: none;
}

.login .form .text::placeholder {
    color: #D3D3D3;
}

.login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 2em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login .form .password::placeholder {
    color: #D3D3D3;
}

.login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 10px 5em;
    transition: 0.5s;
}

.login .form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
}

/* The alert message box */
.alertsuccess {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
    margin-bottom: 15px;
  }

  .alertfailure {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  #lbutton {
      display: flex;
      justify-content: center;
  }

@media only screen and (max-width: 1000px) {
    .login {
        padding: 60px;
    }
  }


