#outer {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
    padding: 0%;
    background-color: #fefbd8;
}

header {
    text-align: center;
    color: black;
    background-color: #fefbd8;

}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #92a8d1;
    padding: 14px 16px;
}

main {
    /* margin-bottom: 30px; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding: 10px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    border-radius: 5px;
    width: 50%;
}

.images_group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer {
    text-align: center;
    color: rgb(151, 148, 148);
}

.image_container {
    text-align: center;
    background-color:  #eee;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.image_container img {
    margin-top: 20px;
    max-width: 90%;
}

#button {
    background-color: antiquewhite;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  .warning {
    border-color: #ff9800;
    color: orange;
  }

  .warning:hover {
    background: #ff9800;
    color: white;
  }


@media screen and (max-width: 750px) {
    nav{
        flex-direction: column;
    }

    .images_group {
        flex-direction: column;
        gap: 10px;
    }

}



